@model Course
@{
    ViewData["Title"] = "Edit";

    SelectList deptItems =
                new SelectList(
                ViewBag.DeptList,
                "Id",
                "Name",
                Model.DeptId
                );
}

<h1>Edit</h1>

<form asp-controller="Course" asp-action="Edit">
    
    <div>    
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name"class="form-control"/>
        <br />
    </div>

    <div>
        <label asp-for="@Model.MinDegree"></label>
        <input asp-for="@Model.MinDegree"class="form-control" />
        <br />
    </div>

    <div>
        <label asp-for="@Model.Degree"></label>
        <input asp-for="@Model.Degree" class="form-control" />
        <br />
    </div>

    <div>
        <label asp-for="@Model.DeptId"></label>
        <select asp-for="@Model.DeptId" 
                asp-items="@deptItems"
                class="form-control">

        </select>
        <br />
    </div>
    <br />
    <input type="submit" value="Edit" class="btn btn-success"/>
</form>
