
@model Student
@{
    ViewData["Title"] = "New";
    
    // Only for MVC this feature is valid
    
    SelectList deptItems = 
               new SelectList(ViewBag.DeptList, "Id", "Name",Model.DeptId);
     
}

<h1 style="font-size:60px">New Student</h1>

<!--You will go to controller Student in an action Save if you click submit-->
<form method="post" asp-controller="Student" asp-action="New">

        <div asp-validation-summary="All" class="text-danger"></div>
    
        <div>
            <label asp-for="@Model.Name" ></label>
            <input asp-for="@Model.Name" class="form form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
        </div>

        <div>
            <label asp-for="@Model.Age" ></label>
            <input asp-for="@Model.Age" class="form form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
            <br />
        </div>

        <div>
            <label asp-for="@Model.Address"></label>
            <input asp-for="@Model.Address" class="form form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
            <br />
        </div>
    
        <div>
            <label asp-for="@Model.Image" ></label>
            <input asp-for="@Model.Image" class="form form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
            <br />
        </div>

        <div>
            <label  asp-for="@Model.DeptId"></label>

            <select asp-for="DeptId"
                    asp-items="@deptItems"
                    class="form-control">
                
                    <option value="0">-- Select Department --</option>
            </select>
            <span asp-validation-for="DeptId" class="text-danger"></span>
        </div>

        <br />

        <input type="submit" value="Add" class="btn btn-success" />
        <br />
        
</form>
<a href="Student/index">Back To List</a>

@section Scripts {
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



